body{
	background-color: #269abc;
}
.main_wrapper{
	width: 980px;
	margin: 10px auto;
}

.wrapper{
	margin: 20px auto;
	background-color:#d7cfff;
	box-sizing: border-box;
	border-radius: 2px;
	padding: 15px 15px;
	color: #212221;
	font-family: Arial;
}

input,select,textarea{
	outline: none;
	width: 220px;
	border: 1px solid #999999;
	padding: 5px 5px;
	border-radius:4px; 
} 
input[type="text"]:focus,input[type="password"]:focus,input[type="button"]:hover,input[type="submit"]:hover,select:focus,textarea:focus{
	border:1px solid #009966;
	box-shadow: 2px 2px 10px 0px #009999;
}
input[type="button"],input[type="submit"]{
	width: 100px ;
	height: 35px;
	border: none;
	border-radius:0; 
	background-color:#009966;
	color: #fff; 
	font-size:16px;

}
.err_msg{
	color: red;
}
.flash_msg_succ{
	background-color: #009966;
	color: #fff;
	padding: 8px 15px;
}
.flash_msg_err{
	background-color: #FF0000;
	color: #fff;
	padding: 8px 15px;
}

/* TABLES */ 
table {border-collapse:collapse;border-spacing:0;width:100%;display:table;font-size:14px;}
table,th,td {border:none;}
table thead th {font-size: 16px;font-weight: 600;}
table.w3-bordered tr {border-bottom:1px solid #d0d0d0;}
table.w3-striped tbody tr:nth-child(odd) {background-color:#f2f2f2;}
table.w3-hoverable tbody tr {transition:background-color .25s ease;}
table.w3-hoverable tbody tr:hover {background-color:#f2f2f2;}
table.w3-centered tr th,table.w3-centered tr td {text-align:center;}
thead.w3-bordered {border-bottom:1px solid #d0d0d0;}
table.w3-table td,th {padding:6px 8px;display:table-cell;text-align:left;vertical-align:top;}
table.w3-table th:first-child,table.w3-table td:first-child {padding-left:16px;}



.user_module_wrapper, .slider_module_wrapper,.nav_module_wrapper,.image_module_wrapper,.photo_gallery_module_wrapper,.video_gallery_module_wrapper{
	margin: 100px auto;
	border: 1px solid #ccc;
	background-color:#d7cfff;
	box-sizing: border-box;
	border-radius: 2px;
	padding: 15px 15px;
	color: #212221;
	font-family: Arial;
}

.user_module_wrapper{
	width: 500px;

}

.slider_module_wrapper,.nav_module_wrapper,.image_module_wrapper,.photo_gallery_module_wrapper,.video_gallery_module_wrapper{
	width: 950px;
	margin: 0px auto;
}

.open_a{
    width: auto;
    padding: 5px 5px;
    border: none;
    border-radius:0;
    background-color:#27AE60;
    color: #fff;
    text-decoration: none;
}

.edit_a{
}

.delete_a{
}

.btn{
	width: 150px;
	padding: 10px 35px;
	height: 35px;
	border: none;
	border-radius:0; 
	background-color:#006699;
	color: #fff; 
	text-decoration: none;
}
.btn:hover{
	border:1px solid #009966;
	box-shadow: 2px 2px 10px 0px #009999;
}

.pagination{
    list-style: none;
}
.pagination li{
    display: inline-block;
    border: #0f0f0f 1px solid;
}
.pagination a{
    text-decoration: none;
    display: inline-block;
    padding: 2px 5px;
    background: slategray;
    color: #ffffff;
}
.home_btn{
    width: 150px;
    padding: 3px 10px;
    height: 25px;
    border: none;
    border-radius:0;
    background-color:steelblue;
    color: #fff;
    text-decoration: none;
}
.home_btn:hover{
    border:1px solid #009966;
    box-shadow: 2px 2px 10px 0px #009999;
}
.nxt_btn{
    width: 150px;
    padding: 3px 10px;
    height: 25px;
    border:1px solid #009966;
    border-radius:0;
    background-color:#00CC00;
    color: #000000;
    text-decoration: none;
}
.nxt_btn:hover{
    border:1px solid #009966;
    box-shadow: 2px 2px 10px 0px #009999;
}
.log-head{
    margin: auto;
    padding: 15px 10px;
    background: #1B5E20;
    color: lightgoldenrodyellow;
    font-size: 18px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.user_module_wrapper table {
    border: 1px solid #1B5E20;
}
.user_module_wrapper input[type="text"], input[type="password"]{
    width: 80%;
    font-size: 14px;
}
.user_module_wrapper input[type="submit"]{
    background: #2E7D32;
    border-radius: 3px;
}
.user_module_wrapper table tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}
.user_module_wrapper i{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 0px;
    font-size: 20px;
}