.admin-box{
    background: #DDD;
}
.nav-cat{
    background: #3c763d;
    border-right: 5px rgba(140, 58, 18, 0.65) solid;
    height: 500px;
    border-bottom: 5px rgba(140, 58, 18, 0.65) solid;
}
.cat-field{
    padding: 3em;
    height: 500px;
    overflow: scroll;
}
header{
    background: #FFF;
    min-height: 130px;
    border-bottom: 5px rgba(140, 58, 18, 0.65) solid;
}
header h1{
    text-align: center;
    vertical-align: baseline;
    margin: 0px;
    font-weight: bold;
    line-height: 5em;
    color: #da0707;
    font-size: 25px;
}
.nav-cat ul{
    padding-left: 0;
}
.nav-cat ul li{
    list-style: none;
    display: block;
    background: #3c763d;
    padding: 10px 20px;
    border-bottom: 1px rgba(140, 58, 18, 0.65) solid;
}
.nav-cat ul li a{
    color:#FFF;
    font-size: 18px;
}
.nav-cat ul li i{
    float: right;
}

.header-right{
    padding: 5px 0 0 0;
}
.header-right h1{
}
.header-right a{
    float: right;
}

#msgHelp{
    color: #ff0000;
}

.required{
    color: #ff0000;
}